<div class="footer-wrapper">
    <h4 class="footer-text">Created by: Adetula Johnson Zion</h4>


        <a class="footer-link" target="_blank" href="https://github.com/mczionjohnson">
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        </a>        
        <a class="footer-mail" target="_blank" href="mailto:mczionjohnson@gmail.com">
            <!-- <i class="fa fa-link fa-2x" aria-hidden="true"></i> -->
            mczionjohnson@gmail.com
        </a> 
        <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/the-zion-johnson/">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a> 
        <a class="footer-link" target="_blank" href="https://twitter.com/thezionjohnson">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a> 



</div>