<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://pdfhost.io/v/JDUMKI~D2_Resume_ZION_J_A_backend" target="_blank">Resume</a></li>
        </ul>
    </nav>
</header>