<header>
    <div class="navbar-nav nav-flex">
        <ul>
            <a href="/">Home</a>
            <a href="/project">Projects</a>
            <a href="/about">About</a>
            <a href="https://pdfhost.io/v/o8ncJn1Q4_Test" target="_blank">Resume</a>
        </ul>
    </div>
</header>