<div class="about-me-lg">
    <div class="about-me-sm">
        <h2 class="about-me-header">About Me</h2>
        <p class="about-me-text">A year ago, I started my programming journey writing HTML, CSS and Javascript, I love writing codes for backend
            with NodeJS and also connect the dots for frontend in fullstack projects. I am always interested in web security knowledge, 
            writing readable-codes and community-support

        
        </p>
        <br class="break-text">
        <p class="about-me-text">  I come from a background in Music, and that makes me a software developer who can effectively collaborate, 
            communicate and develop a detailed approach for designing programs. Some of the exciting projects I have worked on include, a Fullstack 
            developed Book-Library showing some iconic books across the World of Literature, user authentication with JWT-Tokens and CSRF protection 
            for forms, utilized MVC pattern and REST-API, and connected to a No-SQL Database both in development and production. and I also developed 
            this portfolio! I always look forward to learning more.
        </p>
    </div>
</div>