<div class="name-card">
    <h2 class="name-card-text">Adetula Johnson Zion</h2>

    <img class="name-card-img" src="/images/pic.jpg" height="300px" width="300px" style="border-radius: 50%; margin: auto" alt="Adetula Johnson Zion">
    <h3 class="name-card-text">Backend Engineer</h3>
</div>



<%- include('project.ejs') %>

<div class="contact-wrapper">
    <h2 class="contact-text">Contact Me</h2>
    <!-- <div class="contact-first">
    <a href="#" class="contact-text">Contact Me</a>
    </div> -->

    <a class="contact-link" target="_blank" href="https://github.com/mczionjohnson">
        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
    </a>        
    <a class="contact-link" target="_blank" href="https://zion-johnson.herokuapp.com/">
        <i class="fa fa-link fa-2x" aria-hidden="true"></i>
    </a> 
    <a class="contact-link" target="_blank" href="https://twitter.com/thezionjohnson">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a> 
    </a> 
    <a class="contact-link" target="_blank" href="https://www.linkedin.com/in/the-zion-johnson/">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a> 

</div>

