<h2>Adetula Johnson Zion</h2>

<img src="/images/pic.jpg" height="200px" width=""200px style="border-radius: 50%" alt="">
<h3>Backend Engineer</h3>



<%- include('about.ejs') %>
<%- include('project.ejs') %>
<%- include('contact.ejs') %>
