<div class="name-card">
  <img
    class="imgWrapper"
    src="/images/pic.jpg"
    alt="Adetula Johnson Zion"
  />
  <div class="about-me-lg">
    <div class="about-me-sm">
      <h2 class="name-card-text">Zion Johnson</h2>
      <h3 class="name-card-role">Backend Engineer</h3>
      <p class="about-me-text">
        Zion is a motivated software developer and he is experienced in
        Javascript and NodeJS. He is always interested in Web-Security and
        creating user-friendly solutions with Tech.
        <br />
        He connects effectively, collaborates, and communicates effortlessly. He
        is a Computer Scientist that loves learning for life
      </p>
    </div>
  </div>
</div>

<%- include('project.ejs') %>
