<div class="name-card">
    <h2 class="name-card-auto">Adetula Johnson Zion</h2>

    <img class="name-card-auto" src="/images/pic.jpg" height="300px" width="300px" style="border-radius: 50%" alt="">
    <h3 class="name-card-auto">Backend Engineer</h3>
</div>



<%- include('about.ejs') %>
<%- include('project.ejs') %>
<%- include('contact.ejs') %>
