<div class="name-card">
  <h2 class="name-card-text">Adetula Johnson Zion</h2>

  <img
    class="name-card-img"
    src="/images/pic.jpg"
    height="300px"
    width="300px"
    style="border-radius: 50%; margin: auto"
    alt="Adetula Johnson Zion"
  />
  <h3 class="name-card-text">Backend Engineer</h3>
</div>

<%- include('project.ejs') %>


