
<h2 class="project-header">Projects</h2>

<div class="project-wrapper">

    <div class="project-card">
        <h4 class="project-name">Penguin-Library</h3>
        <p>
        <span class="span-text" style="background-color: #fafcc2">REST API</h2></span>
        <span class="span-text" style="background-color: #28a745">Mongo-DB</h2></span>
        <span class="span-text" style="background-color: #fafcc2">Express</h2></span>
        <span class="span-text" style="background-color: #28a745">Node-JS</h2></span>
        </p>
        <p class="project-text">text</p>
        <a class="card-link" target="_blank" href="https://github.com/mczionjohnson/Penguin-Book-Library.git">
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        </a>        
        <a class="card-link" target="_blank" href="https://penguin-library.herokuapp.com/">
            <i class="fa fa-link fa-2x" aria-hidden="true"></i>
        </a> 
    </div>

    <div class="project-card">
        <h4 class="project-name">Penguin-Library</h3>
        <p>
        <span class="span-text" style="background-color: #fafcc2">REST API</span>
        <span class="span-text" style="background-color: #28a745">Mongo-DB</span>
        <span class="span-text" style="background-color: #fafcc2">Express</span>
        <span class="span-text" style="background-color: #28a745">Node-JS</span>
        </p>
        <p class="project-text">a reference Library showing popular books across the World,
             admin post and manage contents for users to view only </p>
        <a class="card-link" target="_blank" href="https://github.com/mczionjohnson/Penguin-Book-Library.git">
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        </a>        
        <a class="card-link" target="_blank" href="https://penguin-library.herokuapp.com/">
            <i class="fa fa-link fa-2x" aria-hidden="true"></i>
        </a> 
    </div>

</div>
