<h2>Projects</h2>
<div>
    <h3>Project 1</h3>
    <a href="">github logo</a> 
    <a href="">heroku ogo</a> 

</div>

<div>
    <h3>Project 2</h3>
    <a href="">github logo</a> 
    <a href="">heroku ogo</a> 

</div>