.contact-wrapper {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact-text {
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-size: 40px;
}

/* .contact-first {
    margin-bottom: 2rem;

} */

.contact-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}