/* :root {

} */

.navbar-nav ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: end;
    margin: .5rem 0;

}

.navbar-nav ul a {
    text-decoration: none;
    margin-right: 1rem;

}

